* {
  font-size: 1.02em;
  letter-spacing: 1.5px;
  margin: 0;
}
body {
  font-family: "Lexend", sans-serif;
  color: #1a436c;
  background-image: url("images/Wallpaper.png");
  /* background: linear-gradient(
    90deg,
    rgba(173, 182, 255, 1) 40%,
    rgba(247, 202, 201, 1) 100%
  ); */
   /* background-image: linear-gradient(90deg, #adb6ff 0%, #f7cac9 35%, white 100%); */
  /* background: #faf5f5; */
  /* background: linear-gradient(317deg,rgba(250, 245, 245, 1) 0%, rgba(247, 202, 201, 1) 24%, rgba(173, 182, 255, 1) 100%); */
  /* font-family: "Inter", sans-serif; */
}
/* background-color: #f5f0cd; */

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #f5f0cd;
  /* padding-bottom: 5px; */
  /* text-decoration: underline; */
}
/* color: #92c8d0; */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Lexend", sans-serif; */
}
h2 {
  font-size: 1.8em;
  padding: 10%;
}
header {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px;
  /* background-color: #f5f0cd; */
}
.header_left {
  display: flex;
  align-items: center;
}
.header_right {
  display: flex;
  gap: 60px;
}
.ludo {
  display: flex;
  align-items: center;
  /* gap: 5px; */
  justify-content: space-between;
}
.logo_size {
  height: 3.8em;
  width: fit-content;
}
.presentation{
  display: flex;
  align-items: center;
}
.btn_log{
  background-color: #1a436c;
  color: white;
  border-radius: 30px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.btn_log:hover{
background-color: white;
color: #1a436c;
border: 3px solid #1a436c;
}
.title {
  color: #adb6ff;
  /* color: #f7cac9; */
  /* color: #f3a280; */
  background: white;
  padding: 10px;
  border-radius: 20px;
}
.title_right {
  color: #f7cac9;
  /* color: #adb6ff; */
  /* color: #92c8d0; */
}
.search {
  border: 2px solid black;
  border-radius: 15px;
  padding: 2px 90px;
  color: gray;
}
.log {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  padding: 2px 10px;
}

.navbar {
  display: flex;
  /* justify-content: space-around; */
  /* padding: 20px; */
  /* font-family: "Lexend", sans-serif; */
  text-transform: uppercase;
  /* font-size: 0.85em; */
  font-weight: bold;
}
.navbar li {
  padding: 20px;
  font-size: 1.375em;
}

main {
  /* background-color: #f5f0cd; */
display: flex;
justify-content: space-around;
}
.main_left{
  text-align: center;
}
.rules{
  padding-bottom: 12%;
}
footer {
  /* background-color: #b1f0f7; */
}
