* {
    font-family: "Inter", sans-serif;
    font-size: 1.02em;
    letter-spacing: 1.5px;
    margin: 0;
}
/* background-color: #f5f0cd; */

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
    color: #f5f0cd;
}
/* color: #92c8d0; */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:#f5f0cd;
}
.header_right {
  display: flex;
  gap: 60px;
}
.ludo {
  display: flex;
  gap: 5px;
}
.logo_size {
  height: 3.8em;
  width: fit-content;
}
.title {
  color: #f3a280;
}
.title_right {
  color: #92c8d0;
}
.log {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #81bfda;
}
.main {
    background-color: #F5F0CD;
}

footer{
    background-color: #B1F0F7;
}